.panel-cover {
    background-image: url('../../assets/la-benni-talent.jpg');
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    color: #fdfdfd;
    display: block;
    height: 110vh;
    margin: 0;
    padding: 0;
    width: 100%;

    h2 {
        font-size: 2.25em;
        font-weight: 500;
        margin: 0 auto;
        padding: 5% 0;
        padding-bottom: 40px;
        text-align: center;
    }

    img {
        display: block;
        margin: 20px auto;
        text-align: center;
        width: 30vw;
    }
}

@media screen and (min-height: 601px) {
    .panel-cover {
        height: 110vh;
    }
}

@media screen and (max-height: 600px) {
    .panel-cover {
        height: 600px;

        img {
            width: 300px;
        }
    }
}

@media screen and (max-width: 480px) {
    .panel-cover {
        height: 600px;

        h2 {
            font-size: 1.75em;
            padding: 20px;
        }

        img {
            margin-top: 20px;
            width: 300px;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1080px) {
    .panel-cover {
        height: 600px;

        h2 {
            padding: 40px 20px;
        }

        img {
            margin-top: 20px;
            width: 300px;
        }
    }
}